body, html {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    background: url('../img/bg-banner.png') no-repeat fixed; /* Fondo igual que en el index.html */
    background-size: cover;
    position: relative;

}

.container {
    width: 400px;
    margin: 50px auto;
    background-color: rgba(12, 184, 181, 0.08);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    color: #ffffff;
    position: relative;
    z-index: 2;
    
}

.bg-color {
    background-color: rgba(15, 13, 83, 0.78); /* Superposición de color */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

h1 {
    font-size: 24px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
}

.search-box {
    position: relative;
    margin: 20px 0;
}

.search-box input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.25);
    color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.search-button {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 18px;
}

.autocomplete-suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: rgba(56, 54, 54, 0.731);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 150px;
    overflow-y: auto;
    z-index: 3;
    cursor: pointer; /* Cambia el cursor a la manita */

}
.suggestion-item {
    padding: 10px 12px;
    cursor: pointer; /* Cambia el cursor a la manita */
    transition: background-color 0.3s ease; /* Añade una transición suave */
    color: #ffffff; /* Color inicial */
}

.suggestion-item:hover {
    background-color: rgba(12, 184, 182, 0.3); /* Cambia el color de fondo al pasar el ratón */
    color: #000000; /* Cambia el color del texto al pasar el ratón */
}


.info-box {
    background: rgba(255, 255, 255, 0.25);
    padding: 15px;
    margin: 15px 0;
    border-left: 5px solid #ffffff;
    border-radius: 8px;
    font-size: 16px;
}

.symptoms-select label {
    font-weight: bold;
    color: #ffffff;
}

.symptoms-select select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.25);
    color: #403e3e;
}

.navigation button {
    width: 100%;
    padding: 12px 0;
    margin-top: 20px;
    border-radius: 25px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #ffffff;
}

.back-button {
    background-color: rgba(255, 255, 255, 0.25);
}

.next-button {
    background-color: rgba(12, 184, 182, 0.91);
}

.next-button:hover {
    background-color: rgba(12, 184, 181, 0.116);
}
.symptoms-toggle button {
    width: 100%;
    padding: 12px 0;
    margin-top: 20px;
    border-radius: 25px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    background-color: rgba(12, 184, 182, 0.91);
    color: #ffffff;
    transition: background-color 0.3s ease;
}

.symptoms-toggle button:hover {
    background-color: rgba(12, 184, 181, 0.178);
}
